.maindiv {
    background-color: white;
    margin: 200px black;
    margin-top: 7%;
    border-radius: 10px;
    margin-left: 35%;
    width: 30%;
    height: 60%;
    padding: 20px;
    min-width: 400px;
    

}

